@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --base: #C98B38;
    --base-2:#BC9A89;
    --gray:#818181;
    --Dark-Gray:#808080;
    --white:#FFFFFF;
    --black:#000;
    --Secondary-Darkest: #5A3F19;
    --nav-color: #F3F3F3;
    --nav-link: #7F7D7D;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --header-color: var(--date);
    --arrow-color: #AF1F24;
    
    --date: #48803C;
    --articles: #7C7B78;
    
    --body-font-family: "Playfair Display" , serif;;
    --title-font-family: "DM Sans", sans-serif;

    --h1-font-size: 58px;
    --h2-font-size: 46px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 20px;
    --menu-font-size: 14px;
    --btn-font-size: 18px;
    --copyright-font-size: 16px;

    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}
/*--------------------------------------------------------------
# home-section
--------------------------------------------------------------*/
body .findout-section {
    background-image: url(../images/background.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    /* transition: all 0.5s; */
    z-index: 997;
    background-color: #FFFFFF;
}

    .header.sticked {
        position: relative;
         top: 20px;
        /*right: 0;
        left: 0; */
        margin: 20px 0;
        height: 70px;
        max-width: 1400px;
        /* margin: auto; */
        border-radius: 50px;
        padding: 12px 36px 12px 12px;
    }

    .header .logo .image {
        position: relative;
        display: block;
    }

    .header .logo img {
        max-height: 50px;
    }

    .header .logo h1 {
        font-size: 30px;
        margin: 0;
        font-weight: 600;
        color: var(--hover);
        font-family: var(--font-primary);
    }

        .header .logo h1 span {
            color: #f96f59;
        }

.sticked-header-offset {
    margin-top: 70px;
}

.navbar a {
    color: var(--hover);
    text-decoration: none;
}

.callus {
    position: relative;
    display: flex;
}

    .callus a {
        height: 47px;
        width: 113px;
        color: var(--base);
        border: 1px solid var(--base);
        text-decoration: none;
        border-radius: 30px;
        line-height: 45px;
        text-align: center;
        font-family: var(--title-font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
    }

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

        .navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
            list-style-type: none;
        }

        .navbar li {
            position: relative;
        }

        .navbar > ul > li {
            white-space: nowrap;
            padding: 10px 0 10px 28px;
        }

            .navbar > ul > li::marker {
                display: none !important;
            }

        .navbar a,
        .navbar a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3px;
            font-family: var(--title-font-family);
            color: var(--hover);
            transition: 0.3s;
            position: relative;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

            .navbar a i,
            .navbar a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }

        .navbar > ul > li > a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -6px;
            background-color: var(--base);
            visibility: hidden;
            width: 0px;
            transition: all 0.3s ease-in-out 0s;
        }

        .navbar a:hover:before,
        .navbar li:hover > a:before,
        .navbar .active:before {
            visibility: visible;
            width: 100%;
        }

        .navbar a:hover,
        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover > a {
            color: var(--base);
        }

        .navbar .dropdown ul {
            display: block;
            position: absolute;
            left: 28px;
            top: calc(100% + 30px);
            margin: 0;
            padding: 10px 0;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            background: #fff;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            transition: 0.3s;
            border-radius: 4px;
        }

            .navbar .dropdown ul li {
                min-width: 200px;
            }

            .navbar .dropdown ul a {
                padding: 10px 20px;
                font-size: 15px;
                text-transform: none;
                font-weight: 600;
                color: #006a5d;
            }

                .navbar .dropdown ul a i {
                    font-size: 12px;
                }

                .navbar .dropdown ul a:hover,
                .navbar .dropdown ul .active:hover,
                .navbar .dropdown ul li:hover > a {
                    color: var(--date);
                }

        .navbar .dropdown:hover > ul {
            opacity: 1;
            top: 100%;
            visibility: visible;
        }

        .navbar .dropdown .dropdown ul {
            top: 0;
            left: calc(100% - 30px);
            visibility: hidden;
        }

        .navbar .dropdown .dropdown:hover > ul {
            opacity: 1;
            top: 0;
            left: 100%;
            visibility: visible;
        }
}

@media (min-width: 1280px) and (max-width: 1600px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

@media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

        .navbar ul {
            position: absolute;
            inset: 0;
            padding: 50px 0 10px 0;
            margin: 0;
            background: #FFF;
            overflow-x: auto;
            transition: 0.3s;
            z-index: 9998;
        }
          .navbar ul li {
           padding: 40px;
        }

        .navbar a,
        .navbar a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-family: var(--font-primary);
            font-size: 15px;
            font-weight: 600;
            color: var(--gray);
            white-space: nowrap;
            transition: 0.3s;
        }

            .navbar a i,
            .navbar a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }

            .navbar a:hover,
            .navbar .active,
            .navbar .active:focus,
            .navbar li:hover > a {
                color: var(--base);
            }

        .navbar .getstarted,
        .navbar .getstarted:focus {
            background: var(--color-primary);
            padding: 8px 20px;
            border-radius: 4px;
            margin: 15px;
            color: var(--date);
        }

            .navbar .getstarted:hover,
            .navbar .getstarted:focus:hover {
                color: var(--date);
                background: rgba(0, 131, 116, 0.8);
            }

        .navbar .dropdown ul,
        .navbar .dropdown .dropdown ul {
            position: static;
            display: none;
            padding: 10px 0;
            margin: 10px 20px;
            transition: all 0.5s ease-in-out;
            background-color: #007466;
            border: 1px solid #006459;
        }

        .navbar .dropdown > .dropdown-active,
        .navbar .dropdown .dropdown > .dropdown-active {
            display: block;
        }

    .mobile-nav-show {
        color: #000;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        margin-right: 10px;
    }

    .mobile-nav-hide {
        color: red;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 350px;
        top: 20px;
        z-index: 9999;
    }

    .mobile-nav-active {
        overflow: hidden;
    }

        .mobile-nav-active .navbar {
            right: 0;
        }

            .mobile-nav-active .navbar:before {
                content: "";
                position: fixed;
                inset: 0;
                /* background: rgba(0, 106, 93, 0.8); */
                z-index: 9996;
            }
}
@media only screen and (max-width : 1300px) {
 .header .container{
    flex-flow: row-reverse;
 } 
}

/*--------------------------------------------------------------
# findout-info
--------------------------------------------------------------*/
.findout-info .title {
    text-align: center;
    font-family: var(--title-font-family);
    color: var(--base);
    border-bottom: 1px solid var(--base);
    width: 150px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 5px;
}

.findout-info h3 {
    color: var(--base-2);
    text-align: center;
    margin-bottom: 0px;
    border-radius: 6px;
    font-family:var(--title-font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.findout-info h3  img{
  margin-left: 15px;
}
.features{
    display: flex;
    justify-content: space-between;
}
.features span {
    color: var(--Secondary-Darkest);
    text-align: right;
    font-family: var(--title-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 10px;
    align-items: center;
}
.features span .image {
      width: 40px;
      height: 40px;
      background-color:var(--base);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: 0.3s;
}
.features span .image :hover{
    background-color: #a8641e;
     transform: scale(1.1); 
}
.findout-info .btn-custom {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--base);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.findout-info  .btn-custom i {
  font-size: 14px;
  background: #fff;
  color:var(--base);
  border-radius: 50%;
  width: 30px;
  height: 30px;
    display: grid;
    align-items: anchor-center;
}

.btn-custom:hover {
  background-color: #a8641e; 
}
.clients-group{
    display: flex;
  align-items: center;
}

.clients-group img,
.clients-group .client {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  margin-left: -15px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.clients-group .client.more {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.findout-info .text-muted {
    color: var(--Dark-Gray);
    font-family: var(--title-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 @media only screen and (max-width : 991px) {
     .features {
         display: flex;
         flex-flow: column;
         gap: 20px;
     }
 }
/*--------------------------------------------------------------
# Success partners
--------------------------------------------------------------*/ 
.success-partners {
  padding: 60px 20px;
  background-image: url(../images/partners.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.success-partners .partners-info{
    display: grid;
    gap: 20px;
}

.title-box {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
}



.success-partners svg {
   padding-left: 5px;

}
.success-partners .partners-info h2 {
    color: var(--black);
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.success-partners .partners-info p {
    color: var(--base);
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
        .success-partners .partners-logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 18px 86px;
            align-items: center;
            gap: 30px;
            overflow-x: auto;
            max-width: 800px;
            margin: auto;
            background-color: var(--white);
            border-radius: 57.917px;
        }
 .success-partners .partners-logo  img{
            transition: all 0.3s ease;
            cursor: pointer;
        }
     .success-partners .partners-logo .item:hover img {
  transition: filter 0.5s ease;
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  cursor: pointer;   
  }
  .success-partners .partners-logo .item.active img,
.success-partners .partners-logo .item:hover img {
  filter: brightness(0) saturate(100%) invert(66%) sepia(64%) saturate(537%) hue-rotate(5deg) brightness(92%) contrast(92%);
}

@media (max-width: 767px) {
    .success-partners .partners-logo {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width : 667px) {
    .partners-logo .item h3 {
        display: none;
    }

    .success-partners .partners-logo {
        gap: 45px;
    }

    .partners-logo .item {
        width: 150px;
    }
}


/*--------------------------------------------------------------
# generic
--------------------------------------------------------------*/ 
.generic-title {
  font-size: 22px;
  font-weight: 700;
  color:var(--base);
  margin: 0;
  position: relative;
}

.generic-title::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  height: 2px;
  background-color: var(--base);
  width: 0;
  border-radius: 2px;
  transition: width 0.8s ease;
}

.generic-title.active::after {
  width: 100%;
}
